# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL

##### Objectives:
- To create a database 
- To analyze and extract the potential benefits of datas.
- Popular languages for data science are R, python, SQL, and perl.

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.Numpy
3.Keras
4.Matplotlib
5.Scikit-learn

|Data Science Tools|
|------------------|
|R studio          |
|Python            |
|SQL               |
|Tableau           |

### Below are a few examples of evaluating arithmetic expressions in Python.
- Addition:  \(14+78 = 92\)
- Subtraction: \(6-4 = 2\)

### This a simple arithmetic expression to mutiply then add integers
- The result of the expression : \((3*4) + 5\)) = 17

### This will convert 200 minutes to hours by diving by 60
```python
# Convert 200 minutes into hours
minutes = 200
hours = minutes / 60
hours

## Author:
## Yasodha